body{
 background-color: #ffffff;
 color: #000000;

}

header{
    background-color: #B987EC;
    padding: 5px 0px 0px 60px ;

}
header img{
    width: 90px;
    height: auto;
}
main{
    margin: 20px 60px;
}
h1{
    color: #B987EC;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px;

}
h2{
    color: #B987EC;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0px;
}
#quemSomos{
    
    width: 75%;
}
#quemSomos li{
    list-style:disc;
    margin: 0px 0px 0px 25px;
}
.produtos img{
    width: 90px;
}
.produtos{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    height: auto;
    align-items: baseline;
    

}
.item li{
    display: flex;
    justify-content:stretch;
    align-items: center;
    
}
.item_desc{
    margin: 20px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}
ul{
    width: 530px;
 
}
footer{
    background-color: #B987EC;
    height: 100px;
    display: block;
 
}
footer p{
    display: block;
    margin-top: 25px;
    padding: 10px 30px;
    color: #000000;
    font-weight: bold;
    
}

 
