
body {
    background-color: #ffffff;
}

/* Cabeçalho */

header {
    background-color: #B987EC;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;

}

header > img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    
}

/* Section */

section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #B987EC;
    margin-top: 20px;
    margin-left: 30px;
}

section > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #B987EC;
    margin-top: 20px;
    margin-left: 30px;
}

section > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #000000;
    margin-left: 30px;
    padding-top: 10px
}


section > ul {
    margin-top: 10px;
    margin-left: 20px;
    list-style-type: disc;
}

section ul > li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #000000;
    margin-left: 40px;
}

/* Article */

article > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #B987EC;
    margin-top: 80px;
    margin-left: 50px;
}

 article .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul li {
    display: flex;
    align-items: center;
}

.container ul li div{
    display: block;
}

.container img {
    height: 150px;
    padding-top: 20px;
}

.container p {
    align-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #000000;
    margin: 10px 0px 10px 10px;
    margin-top: 50px;
}

/* Rodape */

footer {
    width: 100%;
    height: 120px;
    background-color: #B987EC;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #000000;
    padding-top: 20px;
    margin-top: 45px;
    margin-left: 30px;
}